<div ng-controller="catsCtrl">
    <h1>{{title}}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Is Hungry</th>
                <th>Last Fed</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items |
            offset: currentPage*itemsPerPage |
            limitTo: itemsPerPage">
                <td>{{(currentPage * itemsPerPage) + ($index + 1)}}</td>
                <td width="50%">
                    <span ng-show="!editing[item._id]" ng-bind="item.name"></span>
                    <input ng-show="editing[item._id]" type="text" ng-model="item.name">
                    <button ng-show="editing[item._id]" ng-click="update(item._id, item)">Update</button>
                </td>
                <td>{{item.isHungry}}</td>
                <td>{{item.lastFedDate}}</td>
                <td>
                    <button ng-show="!editing[item._id]" ng-click="edit(item._id)">Edit</button>
                </td>
                <td>
                    <button ng-click="delete(item._id)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="6">
                <div>
                    <ul class="pagination">
                        <li ng-class="prevPageDisabled()">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                            <a href="#!cats">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tfoot>

    </table>

    <span>{{error}}</span>



    <p>Cat Name:
        <input type="text" name="catName" ng-model="catName" required />
    </p>
    <button ng-click="addCat()">Add Cat</button>
    <hr /> {{ PostDataResponse }}
</div>